{% include 'base.html' %}

{% macro text_question(id, text) %}
<div class="form-group row">
  <label for="{{id}}" class="col-sm-3 col-form-label">
    {{text}}
  </label>
  <div class="col-sm-8">
    <textarea class="form-control" id="{{id}}" name="{{id}}"></textarea>
  </div>
</div>
{% endmacro %}

{% macro binary_question(id, text) %}
<div class="form-group row">
  <label for="{{id}}" class="col-sm-3 col-form-label">
    {{text}}
  </label>
  <div class="col-sm-2">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="{{id}}" id="{{id}}" value="ja" checked>
        Ja
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="{{id}}" id="{{id}}" value="nein" checked>
        Nein
      </label>
    </div>
  </div>
  <div class="col-sm-6">
    <textarea class="form-control" id="{{id}}_text" name="{{id}}_text"></textarea>
  </div>
</div>
{% endmacro %}


<div class=container-fluid>
<form action="http://localhost:5000/fragebogen" method="post">

  {% include 'fragebogen/allgemein.html' %}
  {% include 'fragebogen/wapt.html' %}
  {% include 'fragebogen/ntp.html' %}
  {% include 'fragebogen/se.html' %}
  {% include 'fragebogen/wl.html' %}
  {% include 'fragebogen/phys.html' %}
  {% include 'fragebogen/sysadm.html' %}
  {% include 'fragebogen/bum.html' %}


  <button>Senden</button>
</form>
</div>
<script>
var alg_check_ids = [
    ["allg_pen_art_wapt", "wapt"],
    ["allg_pen_art_npt", "npt"],
    ["allg_pen_art_se", "se"],
    ["allg_pen_art_wl", "wl"],
    ["allg_pen_art_phys", "phys"]
];
fLen = alg_check_ids.length;
for (i = 0; i < fLen; i++) {
    console.log(alg_check_ids[i][1], alg_check_ids[i][0])
    toggle_div_for_checkbox(alg_check_ids[i][1], alg_check_ids[i][0])
}
function toggle_div_for_checkbox(id, check_id) {
    var div = document.getElementById(id);
    var check = document.getElementById(check_id);
    if (check.checked){
      div.style.display = "block";
    } else {
      div.style.display ="none";
    }
}
</script>
