<div id="allg">
  <h4>Allgemein</h4>

  {{ text_question("allg_anspr_web_app", "Wer sind die Ansprechpartner?") }}

  <div class="form-group row">
    <label for="allg_pen-art" class="col-sm-3 col-form-label">
      Welche Art/en von Pentest/s sollen durchgeführt werden?
    </label>
    <div class="col-sm-8" id="allg_pen-art">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="allg_pen_art_wapt" name="allg_pen_art_wapt" onclick="toggle_div_for_checkbox('wapt', 'allg_pen_art_wapt')">
          Web-Application
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="allg_pen_art_npt" name="allg_pen_art_npt" onclick="toggle_div_for_checkbox('npt', 'allg_pen_art_npt')">
          Network
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="allg_pen_art_se" name="allg_pen_art_se" onclick="toggle_div_for_checkbox('se', 'allg_pen_art_se')">
          Social Engineering
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="allg_pen_art_wl" name="allg_pen_art_wl" onclick="toggle_div_for_checkbox('wl', 'allg_pen_art_wl')">
          Wireless
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" id="allg_pen_art_phys" name="allg_pen_art_phys" onclick="toggle_div_for_checkbox('phys', 'allg_pen_art_phys')">
          Physical
        </label>
      </div>
    </div>
  </div>

  {{ binary_question("alg_compliance", "Ist der Test für eine spezielle Compliance-Anforderung notwendig?") }}
  {{ text_question("allg_termin", "Wann soll der Test durchgeführt werden?") }}

  <div class="form-group row">
    <label for="alg_zeitraum" class="col-sm-3 col-form-label">
      In welchen Zeiträumen soll der Test durchgeführt werden?
    </label>
    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="alg_zeitraum" id="alg_zeitraum" value="buero" checked>
          Bürozeiten
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="alg_zeitraum" id="alg_zeitraum" value="feier" checked>
          Feierabend
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="alg_zeitraum" id="alg_zeitraum" value="woend" checked>
          Wochenende
        </label>
      </div>
    </div>
  </div>

</div>
