<div id="bum">
  <h4>Fragen an den Business Unit Manager</h4>
  {{ binary_question("bum_mgmt_inform", "Ist die Führungsebene über den Test informiert?") }}
  {{ text_question("bum_krit_daten", "Welche Daten stellen das größte Risiko dar, falls diese manipuliert werden?") }}
  {{ binary_question("bum_monitoring", "Gibt es Testfälle, die die Funktionalität der Services prüfen und belegen können?") }}
  {{ binary_question("bum_disaster_recovery", 'Sind "Disaster Recovery Procedures" vorhanden?') }}
</div>
