<div id="se" style="display: none">
  <h4>Social Engineering</h4>
  {{ binary_question("se_emails", "Gibt es eine vollständige Liste von E-Mail-Adressen, die für den Test verwendet werden können?") }}
  {{ binary_question("se_tels", "Gibt es eine vollständige Liste von Telefon-Nummern, die für den Test verwendet werden können?") }}
  {{ binary_question("se_phys", "Ist das Einsetzen von Social Engineering zum Überwinden physikalischer Sicherheitseinrichtungen erlaubt?") }}
  {{ text_question("se_anz_pers", "Wie viele Personen sollen ca. getestet werden?") }}
</div>
