<div id="sysadm">
  <h4>Fragen an den System-Administrator</h4>
  {{ binary_question("sysadm_altsysteme", "Gibt es Systeme, die als instabil angesehen werden (alte Patch-Stände, Legacy Systeme etc.)?") }}
  {{ binary_question("sysadm_drittsysteme", "Gibt es Systeme von Dritten, die ausgeschlossen werden müssen oder für die weitere Genehmigungen notwendig sind?") }}
  {{ text_question("sysadm_wiederherstellungszeit", "Was ist die Durchschnittszeit zur Wiederherstellung der Funktionalität eines Services?") }}
  {{ binary_question("sysadm_monitoring", "Ist eine Monitoring-Software im Einsatz?") }}
  {{ text_question("sysadm_krit_appl", "Welche sind die kritischsten Applikationen?") }}
  {{ binary_question("sysadm_backup", "Werden in einem regelmäßigen Turnus Backups erstellt und getestet?") }}
</div>
