<div id="wapt" style="display: none">
  <h4>Web Application Penetration Test</h4>
  {{ binary_question("wapt_quell_zug", "Wird der Quellcode der Applikation/Webseite zugänglich gemacht?") }}
  {{ text_question("wapt_anz_web_app", "Wie viele Web-Applikationen sind In-Scope?") }}
  {{ text_question("wapt_anz_login_sys", "Wie viele Login-Systeme sind In-Scope?") }}
  {{ text_question("wapt_anz_stat_seiten", "Wie viele statische Seiten sind ca. In-Scope?") }}
  {{ text_question("wapt_anz_dyn_seiten", "Wie viele dynamische Seiten sind ca. In-Scope?") }}
  {{ binary_question("wapt_fuzzing", "Soll Fuzzing gegen die Applikation/en eingesetzt werden?") }}
  {{ binary_question("wapt_vers_rollen", "Soll der Penetrations-Test aus verschiedenen Rollen durchgeführt werden?") }}
  {{ binary_question("wapt_pwd_scan", "Sollen Password-Scans auf die Webseite durchgeführt werden?") }}
</div>
