<div id="wl" style="display: none">
  <h4>Wireless Network Penetration Test</h4>
  {{ text_question("wl_anz_fnw", "Wieviele Funk-Netzwerke sind im Einsatz?") }}
  {{ binary_question("wl_gastwlan", "Gibt es eine Gäste WLAN? Wenn ja, wie ist dieses Umgesetzt?") }}
  {{ text_question("wl_encr", "Welche Verschlüsselung wird für die Netzwerke genutzt?") }}
  {{ binary_question("wl_fremgeraet", "Sollen nicht-firmen-Geräte im WLAN aufgespürt werden?") }}
  {{ binary_question("wl_att_clients", "Sollen Netz-Attacken gegen Clients durchgeführt werden?") }}
  {{ text_question("wl_clients", "Wie viele Clients nutzen das WLAN ca.?") }}
</div>
